.titulo {
    color: #f59b89 ;
    text-align :center;
}


.paragrafo {
    text-align :center;
    background-color: #f59b89;
    color: #ffffff
    padding: 24px 0;
    margin: 0 16px;
    font-size: 16px;
}

body{background: #ffffff
