.titulo {
    color: rgb(245, 245, 245);
    text-align :center;
}


.paragrafo {
    background-color: #FCC7BC;
    color: #FFEFEB
    padding: 24px 0;
    margin: 0 16px;
    font-size: 16px;
}

body{background: rgb(221, 221, 221);}
